

/* background color*/
.blue{
	background-color: #2087c2;
}
.orange{
	background-color: #ff9600;
}
.light-grey{
	background-color: #efefef;
}
.dark-grey{
	background-color: #1e2531;
}


.white{
	color: #FFF;
}
.black-color{
	color: #FFF;
}
.orange-color{
	color: #ff9600;
}
